<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{titley}}</title>
    <link rel="stylesheet" href="../../public/css/main.css" >
  </head>
  <body>
    <main>
      <div id="error"></div>
      {{{body}}}
    </main>
  </body>
</html>