<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{titley}}</title>
    <link rel="stylesheet" href="../../public/css/main.css" >
  </head>
  <body>
    <main>
      <div id="error"></div>
      {{{body}}}
    </main>
    <script src="../../public/js/check.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  </body>
</html>