<h1>Login</h1>
<div id="error" class="error" hidden>Error</div>
{{#if error}}
<div id="serverError" class="error"> {{e}}</div>
{{/if}}
<p>
  Please enter username and password:
</p>
<form action="/login" method="POST" id="login-form">
  <label for="usernameInput">
    Username:
    <input type="username" name="usernameInput" id="usernameInput" class="full-width-input">
  </label>
  <br>
  <label for="passwordInput">
    Password:
    <input type="password" name="passwordInput" id="passwordInput" class="full-width-input">
  </label>
  <br>
  <button type="submit">Login</button>
</form>
<a href="http://localhost:3000/register">Click here to register</a>
<script src="../public/js/login.js"></script>