
<div id="errorDiv" class="error" hidden>Error</div>
{{#if error}}
<div id="serverError" class="error"> {{e}}</div>
{{/if}}

<div id="prioriQLogo">
  <h1>PrioriQ</h1>
  <p>Tasks made simpler</p>
</div>

<div id="loginFormDiv">
<h1 id="login">Login</h1>
<p>
  Please enter username and password:
</p>
<form action="/login" method="POST" id="login-form">
  <label for="usernameInput">
    Username:
    <input type="text" name="usernameInput" id="usernameInput" class="full-width-input">
  </label>
  <br>
  <label for="passwordInput">
    Password:
    <input type="password" name="passwordInput" id="passwordInput" class="full-width-input">
  </label>
  <br>
  <button type="submit">Login</button>
</form>
<a href="http://localhost:3000/register"><button>Register</button></a>
</div>

<script src="../public/js/login.js"></script>