html{
  background-color: #00234b;
  color: #E5E5E5;
  overflow-x: hidden;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}
main{
  flex: 1;
 
}

#navBar {
    overflow: hidden;
    background-color: #001124;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: -1%;
    padding: 1%;
    color: white;
    text-align: center;
  }
  
  #leftSide{
    display: inline;
    width: 150px;
    padding-left: 10px;
    float:left;
    text-align: left;
  }
  
  #RightSide{
    display: inline;
    width: 200px;
    padding-top: 20px;
    float:right;
  }
  
  .card {

    background-color:  #E4DCCF;
    display: inline-block;
    margin-top: 6%;
    margin-left: 7%;
    margin-bottom: 2%;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 20%;
    padding: 20px;
    vertical-align: top;
    color: black;

    
  }
  span{
    font-weight: bold;
  }
  .settingsCard {
    margin-left: 6%;
    margin-bottom: 2%;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 20%;
    padding: 20px;
    text-align:center;
    background-color: #c4baa9;
    color: black;
    
  }
  
  .container {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-width: 2px;
    border-style: solid;
    margin-bottom: 10px;
    border-color: black;
    text-align: center;
    word-wrap: break-word;
    background-color: #EA5455;
    color: black;
  }
  
  #createTaskForm,
  #updateTaskForm {
    text-align: center;
  
  }
  
  label {
    padding-top: 10px;
  }
  
  #estimatedTimeInputH,
  #estimatedTimeInputM,
  #newEstimatedTimeInputH,
  #newEstimatedTimeInputM {
    width: 40px;
  
  }

  #login{
    display: inline;
  }
  #prioriQLogo {
    display: inline;
    background-color: #001124;
    margin-right: -3%;
    margin-top: -5%;
    padding-top: 10%;
    padding-bottom: 16%;
    width:60%;
    height: 100vh;
    float:right;
  }
  #prioriQLogo h1{
    color:#EA5455;
    font-size: 100px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
  }
  #prioriQLogo p{
    color:#c4baa9;
    font-size: 50px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
  }

  h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  #loginFormDiv{
    margin-top: 15%;
    text-align: center;
  }

  footer{
    background-color: #001124;
    margin-left: -2%;
    margin-top: auto;
    bottom: 0;
    width: 100%;
  
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  button{
    border:solid;
    border-width: 1px;
    margin-bottom: 5px;
    margin-left: 10px;
    border-radius: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
